.body_backgorund {
    background-image:"background image.png";
  
    }
  h1{ 
      color: red; 
      font-size: 40px;
    }
  
  #myCanvas
  {
  
      background-color: white; 
      border-style:ridge;
  }
  span
  {
      font-size: 20px;
  }
  